
.formulario_login {
    background-color:#9ed1d0;
    backdrop-filter: blur(10px);
    border: 2px solid #9ed1d0;
    border-radius: 30px;
    padding: 80px;
    width: 400px;
    

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container h1 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.email-senha{
    margin-bottom: 50px;
}

.container .email-senha {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px auto;
    outline: none;
}

.email-senha input {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: white;
    border: 2px solid white;
    border-radius: 40px;
    color: rgb(0, 0, 0) ;
}

.botao {
    text-align: center;
    display: block;
    width: 70%;
    height: 50px;
    background-color: rgb(255, 255, 255) ;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(3, 31, 139);
    font-size: 16px;
    font-weight: 600;
    text-shadow: none;
    margin: 0 auto;
    margin: button 20px;
    margin-bottom: 20px;
    color: black;
}

.botao_link {
    margin: 15px;
    color: rgb(0, 0, 0);
}

.botao:hover {
   background-color: rgb(112, 112, 255);
   font-size: 18px; 
   color: white
}
